<div id="bd">
  <div id="carousel-container" class="fadeToWhite">
      <div id="myCarousel" class="carousel slide shadowbox">
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" ng-repeat="slide in slides"
          ng-class="{active : $first, data-slide-to: $index}" data-slide-to="{$index}"></li>
      </ol> -->
    <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <img src="img/slides/AtmosphereClimate.png"/>
          <div class="collection-menu">
            <div class="carousel-caption">
              <h4>Item title of nice looking item</h4>
              <p class="hide-stuck">Collection it belongs in</p>
            </div>
          </div>
        </div>
        <div class="item"><img src="img/slides/ClimateChange.png"/></div>
        <div class="item"><img src="img/slides/DataToolsTechnology.png"/></div>
        <div class="item"><img src="img/slides/EarthCharacteristics.png"/></div>
        <div class="item"><img src="img/slides/EcologyEnvironment.png"/></div>
        <div class="item"><img src="img/slides/EnergyMinerals.png"/></div>
        <div class="item"><img src="img/slides/EnvironmentalIssues.png"/></div>
        <div class="item"><img src="img/slides/GeographicAnalysisMapping.png"/></div>
        <div class="item"><img src="img/slides/GeologicalProcesses.png"/></div>
        <div class="item"><img src="img/slides/HydrologicalProcesses.png"/></div>
        <div class="item"><img src="img/slides/MappingRemoteSensingGeospatialData.png"/></div>
        <div class="item"><img src="img/slides/NaturalHazards.png"/></div>
        <div class="item"><img src="img/slides/OceansCoastlines.png"/></div>
        <div class="item"><img src="img/slides/PlanetaryScience.png"/></div>
        <div class="item"><img src="img/slides/Planets.png"/></div>
        <div class="item"><img src="img/slides/PlantsAnimals.png"/></div>
        <div class="item"><img src="img/slides/TechniquesMethods.png"/></div>
        <div class="item"><img src="img/slides/Water.png"/></div>
        <div class="item"><img src="img/slides/WaterResources.png"/></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div id="collections">
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="collection shadowbox" ng-repeat="collection in col1">
            <span class="badge pull-right">{{collection.hits}}</span>
            <a href="#/collections/{{collection.id}}"><h4>{{collection.title}}</h4></a>
            <p>{{collection.summary}}</p>  
          </div>
        </div>
        <div class="span6">
          <div class="collection shadowbox" ng-repeat="collection in col2">
            <span class="badge pull-right">{{collection.hits}}</span>
            <a href="#/collections/{{collection.id}}"><h4>{{collection.title}}</h4></a>
            <p>{{collection.summary}}</p>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>