<div id="bd">
  <div class="container">
    <div class="row">
      <div class="span9 offset2">
        <img ng-src="img/slides/DataToolsTechnology.png" class="shadowbox" style="text-align: center;"/>
      </div>
    </div>
  </div>
  <div class="container" id="search-results">
    <div class="row">
      <div class="span3">
        <div id="search-facets">
          <h5>Items <span class="badge badge-info pull-right">{{items.length | number}} / {{itemsTotal | number}}</span></h5>
          <div>
            <h5>Applied Filters</h5>
            <ul class="nav nav-list">
              <filter ng-repeat="filter in filters"><filter>
            </ul>
          </div>
          <facet ng-repeat="facet in searchFacets"></facet>
        </div>
      </div>
      <div class="span9" infinite-scroll="nextPage()" infinite-scroll-disabled="busy" infinite-scroll-distance="1">
        <div class="sb-item shadowbox media" ng-repeat="item in items" style="zoom:1;">
            <a href="{{item.link.url}}"><h4 class="media-heading">{{item.title}}</h4></a>
            <img class="pull-left" ng-src="{{grabBrowseImageUrl(item)}}" style="max-height: 100px; max-width: 100px;" />
            <div class="media-body">
                <p>{{item.summary}}</p>
                <a class="label label-info dist-link" ng-repeat="distLink in item.distributionLinks" href="{{distLink.uri}}">
                    {{distLink.title}}
                </a>
            </div>
        </div>
      </div>
    </div>
  </div
</div>
