<div id="bd">
  <div class="container">
    <div class="row">
      <div class="span9 offset2">
        <img ng-src="img/slides/DataToolsTechnology.png" class="shadowbox" style="text-align: center;"/>
      </div>
    </div>
  </div>
  <div class="container" id="search-results">
    <div class="row">
      <div class="span3">
        <div id="search-facets" ui-scrollfix="355">
          <div class="facet" ng-repeat="facet in facets">
            <h5>{{facet.label}}<span class="badge pull-right">{{facet.total}}</span></h5>
            <ul class="nav nav-list">
              <li ng-repeat="entry in facet.entries">
                <a href="#/collections/{{parentId}}?q={{q}}&filter={{facet.name}}%3D{{entry.term}}" title="{{entry.term|facetChars}}">
                  <i class="icon-plus hide"></i>
                  {{entry.term|facetChars:16:false:entry.count}} ({{entry.count}})
                </a>
              </li>
              <li ng-show="facet.other > 0 && facet.entries.length > 7">
                <a href="#/collections/{{parentId}}?facetDetail={{facet.name}}&facetDetailSize=50">
                  <i class="icon-plus hide"></i>
                  More
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span9" infinite-scroll="nextPage()" infinite-scroll-disabled="busy" infinite-scroll-distance="1">
        <div class="sb-item shadowbox" ng-repeat="item in items">
          <a href="{{item.link.url}}"><h4>{{item.title}}</h4></a>
              <img style="float: left;" ng-src="{{grabBrowseImageUrl(item)}}"></a>
          <p>{{item.summary}}</p>
          <a class="label label-info dist-link" ng-repeat="distLink in item.distributionLinks" href="{{distLink.uri}}">
              {{distLink.title}}
          </a>

            <span>
                {{grabBrowseImageUrl(item)}}
            </span>

        </div>
      </div>
    </div>
  </div>
</div>
