<style type="text/css">
  .carousel-caption {
    background: rgba(0, 0, 0, 0.4);
  }
</style>


<div id="bd">
  <div id="carousel-container" class="fadeToWhite">
    <div id="myCarousel" class="carousel slide shadowbox" ng-controller="DummySlidesCtrl">


        <carousel interval="carouselInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <!--<h4>Slide {{$index}}</h4>-->
              <h4 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{slide.title}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </slide>
        </carousel>

    </div>
  </div>

  <div id="collections">
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="collection shadowbox" ng-repeat="collection in col1">
            <span class="badge pull-right">{{collection.hits}}</span>
            <a href="#/collections/{{collection.id}}"><h4>{{collection.title}}</h4></a>
            <p>{{collection.summary}}</p>  
          </div>
        </div>
        <div class="span6">
          <div class="collection shadowbox" ng-repeat="collection in col2">
            <span class="badge pull-right">{{collection.hits}}</span>
            <a href="#/collections/{{collection.id}}"><h4>{{collection.title}}</h4></a>
            <p>{{collection.summary}}</p>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>