<!doctype html>
<html lang="en" ng-app="explorer">
<head>
  <meta charset="utf-8">
  <title>Data Explorer</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/smoothness/jquery-ui-1.10.3.custom.min.css">
  <!-- <link rel="stylesheet" href="css/bootstrap-responsive.min.css"> -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/standardHeader.css">
  <link rel="stylesheet" href="css/bootstrap-glyphicons.css">
  <link rel="stylesheet" href="css/leaflet.css" />
  <link rel="stylesheet" href="css/leaflet.ie.css" />
  <link rel="stylesheet" href="css/leaflet.draw.css" />
  <link rel="stylesheet" href="css/leaflet.draw.ie.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
  <![endif]-->
  <!-- <link href="css/usgs-common.css" rel="stylesheet" media="screen"> -->
  <!-- <link href="css/usgs-ibc-se-common.css" rel="stylesheet" media="screen"> -->
  <style>
    [ng-cloak] {
      display: none;
    }
    .sb-label {
      font-weight: bold;
    }
  </style>
  <script type="application/javascript" src="https://www.usgs.gov/scripts/analytics/usgs-analytics.js"></script>
</head>
<body ng-cloak>
<!-- ScienceBase Header Template -->
<div id="usgscolorband" class="visible-desktop">
  <div id="usgsbanner">
    <span id="env-beta" onclick="this.style.display='none';"
    title="Beta is a preview of ongoing work and this system, application or page is in Beta.  As a result it will be in a constant state of change as its being worked on. Instability, faults, flaws or errors maybe encountered due to ongoing changes. Data contained, or associated with this system, application or page can and will be changing also. This may cause some items to be displayed incorrectly. This is not to be considered the finshed version of the system, application or page.">BETA</span>
    <div id="usgsidentifier"><a href="http://www.usgs.gov/">
      <img src="img/usgs/header_graphic_usgsIdentifier_white.jpg"
        alt="USGS - science for a changing world"
        title="U.S. Geological Survey Home Page"
        width="178" height="72"/></a>
    </div>
    <div id="usgsccsabox">
      <div id="usgsccsa">
        <br><a href="http://www.usgs.gov/">USGS Home</a>
        <br><a href="http://www.usgs.gov/ask/">Contact USGS</a>
        <br><a href="http://www.usgs.gov/search/">Search USGS</a>
      </div>
    </div>
  </div>
</div>
<img src="img/usgs/sciencebase_earth.png" class="image-float visible-desktop"/>
<!-- ScienceBase Header Template -->
<div class="navbar navbar-inverse sticky shadowbox" ng-controller="NavCtrl">
  <div class="navbar-inner">

    <a class="brand" href="index.html">Data Explorer</a>

    <span ng-show="viewSettings.collectionItem.id" style="display:block; float: left; font-size: 20px; padding: 10px 0; line-height: 20px;">
      <a class="navbar-link" style="font-size: 20px;" href="#/collections/{{viewSettings.collectionItem.id}}" title="{{viewSettings.collectionItem.summary}}">
        <span class="glyphicon glyphicon-arrow-right" style="font-size: 16px;"></span>
        {{viewSettings.collectionItem.title}}
      </a>
    </span>

    <form name="search" class="navbar-search pull-right" ng-submit="doSearch()">
      <div class="input-append" >
        <input ng-model="q" type="text" class="search-query" placeHolder="{{placeHolder}}">
        <span class="fornav"><i class="icon-search"></i></span>
      </div>
    </form>
    <span ng-click="viewSettings.view = 'map'" class="glyphicon glyphicon-globe pull-right" ng-class="{selected: viewSettings.view == 'map'}"></span>
    <span ng-click="viewSettings.view = 'gallery'" class="glyphicon glyphicon-picture pull-right" ng-class="{selected: viewSettings.view == 'gallery'}"></span>
  </div>
</div>

<div ng-view ng-cloak></div>

<!-- BEGIN USGS Footer Template -->
<div id="usgsfooter">
    <p id="usgsfooterbar">
        <a href="http://www.usgs.gov/laws/accessibility.html" title="Accessibility Policy (Section 508)">Accessibility</a>
        <a href="http://www.usgs.gov/foia/" title="Freedom of Information Act">FOIA</a>
        <a href="http://www.usgs.gov/laws/privacy.html" title="Privacy policies of the U.S. Geological Survey.">Privacy</a>
        <a href="http://www.usgs.gov/laws/policies_notices.html" title="Policies and notices that govern information posted on USGS Web sites.">Policies and Notices</a>
    </p>
    
    <p id="usgsfootertext">
        <a href="http://www.takepride.gov/"><img src="img/usgs/footer_graphic_takePride.jpg" alt="Take Pride in America logo" title="Take Pride in America Home Page" width="60" height="58" /></a>
        <a href="http://usa.gov/"><img src="img/usgs/footer_graphic_usagov.jpg" alt="USA.gov logo" title="USAGov: Government Made Easy" width="90" height="26" /></a>
        <a href="http://www.doi.gov/">U.S. Department of the Interior</a> |
        <a href="http://www.usgs.gov/">U.S. Geological Survey</a> | 
        <a href="http://www.doioig.gov/">DOI Inspector General</a><br />
      
      Page Contact Information: <a href="http://answers.usgs.gov/cgi-bin/gsanswers?pemail=ask">Ask USGS</a><br />
      Page Last Modified: Wednesday, April 29, 2013  
    </p>
</div>
<!-- END USGS Footer Template -->
<script src="lib/jquery/jquery-1.9.1.js"></script>  
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>
<script src="lib/angular/ng-infinite-scroll.js"></script>
<script src="js/app.js"></script>
<script src="js/tmpl.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/leaflet.js"></script>
<script src="lib/modernizr/modernizr-latest.js"></script>
<script src="lib/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/angular-ui/ui-utils.min.js"></script>
<script src="lib/jquery-waypoints/waypoints.min.js"></script>
<script src="lib/jquery-waypoints/waypoints-sticky.min.js"></script>
<script src="lib/angular-ui/ui-bootstrap-tpls-0.3.0.js"></script>
<script src="lib/jquery.ba-bbq/jquery.ba-bbq.min.js"></script>
<script src="lib/leaflet/leaflet.js"></script>
<script src="lib/leaflet.draw/leaflet.draw.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.sticky').waypoint('sticky');
  });
</script>
</body>
</html>
